	*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html{
    height: 100%;
    width: 100%;
  }
  body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
  }
  
  a {
    color: #00B7FF;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    padding: 0px;

  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    float:left;
    padding: 14px;
    text-decoration: none;
  }
  .navbar a:hover{
    background-color: #ddd;
    color: black;
  }
  
  .navright {
    float:right;
  }
  .inner-content {
    padding: 14px;
  }
  .column {
    float: left;
    padding: 10px;
  }
  .left{
    width: 40%;
  }
  .right{
    width: 60%;
  }
	
	.letter {
		transform-origin: 0 100%;
		display: inline-block;
		line-height: 1em;
	}

  .clear:hover{
    font-weight: bold;
  }

  
  